<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.maxgen.societyguru">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.RegisterForNewSocietyActivity" />

        <activity
            android:name=".activity.admin.ChangeChairmanActivity"
            android:label="Change Chairman"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.chairman.SendNoticeActivity" />

        <activity
            android:name=".activity.chairman.MemberMaintenancePaymentListActivity"
            android:label="Members Maintenance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.chairman.MaintenanceSentListActivity"
            android:label="Maintenance Sent"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.chairman.ChairmanNoticeActivity"
            android:label="Notices"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.chairman.SocietyDashboardActivity"
            android:label="Society Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.chairman.ChairmanSocietyListActivity"
            android:label="Societies"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.admin.AddSocietyActivity"
            android:label="Add New Society"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.member.ContactChairmanActivity"
            android:label="Chairman Information"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.chairman.MaintenanceHistoryInfoActivity" />
        <activity android:name=".activity.admin.ChairmanInfoActivity" />
        <activity android:name=".activity.chairman.EventHistoryInfoActivity" />
        <activity
            android:name=".activity.chairman.PaymentHistoryActivity"
            android:label="Payment History"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.chairman.CreateMaintenanceActivity"
            android:label="Create Maintenance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.chairman.MaintenanceListActivity"
            android:label="Maintenance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.chairman.EditProfileActivity"
            android:label="Edit Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.member.MemberNoticeInfoActivity"
            android:label="Notice Info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.member.dashboard.RegisteredEventInfoActivity"
            android:label="Registration Info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PaymentActivity"
            android:label="Payment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.member.MemberEventInfoActivity"
            android:label="Event Info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.chairman.ChairmanEventInfoActivity"
            android:label="Event Information"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.chairman.ChairmanMemberInfoActivity"
            android:label="Member Info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.chairman.CreateEventActivity"
            android:label="Create Event"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.chairman.EventListActivity"
            android:label="Events"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.chairman.ChairmanProfileActivity"
            android:label="Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.member.MemberNoticeListActivity"
            android:label="Notice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.member.MemberEventListActivity"
            android:label="Events"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.member.MaintenanceActivity"
            android:label="Maintenance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="MaintenanceActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.chairman.ChairmanDashboardActivity"
            android:label="Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.admin.MemberInfoActivity"
            android:label="Society Member Information"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.admin.CreateNoticeActivity"
            android:label="Create Notice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.admin.NoticeInfoActivity"
            android:label="Notice Information"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.admin.NoticeListActivity"
            android:label="Notice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.member.dashboard.MemberDashboardActivity"
            android:label="Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.chairman.SocietyMemberListActivity"
            android:label="Members"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegistrationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.admin.SocietyInfoActivity"
            android:label="Society Information"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.admin.UserListActivity"
            android:label="Chairman"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.admin.UpdateSocietyActivity"
            android:label="Update Society"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.admin.SocietyListActivity"
            android:label="Societies"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.admin.AdminDashboardActivity"
            android:label="Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.admin.CreateSocietyActivity"
            android:label="Create Society"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".firebaseAccess.FireMessaging"
            android:directBootAware="true"
            android:exported="false"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".firebaseAccess.TestMessanging"
            android:directBootAware="true"
            android:exported="false"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>